<!DOCTYPE html>
<html>
<head>
    <style>
        /* Classe para o texto com fundo escuro e letras brancas */
        .dark-text {
            background-color: #000; /* Cor de fundo escura, nesse caso, preto (#000) */
            color: #fff; /* Cor do texto branca (#fff) */
        }
    </style>
</head>
<body>
    <header class="py-5 bg-image-full" style="background-image: url('https://cdn.hipercultura.com/imagens/quais-sao-as-moedas-mais-raras-do-real-og.jpg'); height: 35%;">
        <div class="text-center my-5">
            <!-- <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." /> -->
            
        </div>
    </header>
    <!-- Content section com texto de fundo escuro e letras brancas -->
    <section class="py-5 dark-text">
        <div class="container my-2">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h2>Conversor de Moedas</h2>
                    <p class="lead">A conversão de moedas desempenha um papel crucial na economia global, permitindo que empresas realizem negócios internacionais, turistas convertam dinheiro para gastar em viagens e investidores diversifiquem seus ativos. Além disso, é uma ferramenta valiosa para proteger contra a volatilidade cambial.</p>
                    <p class="mb-0">Com o avanço da tecnologia, a conversão de moedas tornou-se acessível por meio de aplicativos e serviços online, simplificando o processo para pessoas e empresas em todo o mundo. Em resumo, a conversão de moedas desempenha um papel vital na economia global, facilitando a transição suave entre diferentes moedas e promovendo o comércio internacional.</p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
