
<header class="py-5 bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1571138430450-eaeaef92cc4d?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); height: 35%;">
    <div class="text-center my-5">
        <!-- <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..." /> -->
        <h1 class="text-white fs-3 fw-bolder"></h1>
        <p class="text-white-50 mb-0"></p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Conversor de Moedas</h2>
                <p class="lead">A conversão de moedas desempenha um papel crucial na economia global, permitindo que empresas realizem negócios internacionais, turistas convertam dinheiro para gastar em viagens e investidores diversifiquem seus ativos. Além disso, é uma ferramenta valiosa para proteger contra a volatilidade cambial.</p>
                <p class="mb-0">Com o avanço da tecnologia, a conversão de moedas tornou-se acessível por meio de aplicativos e serviços online, simplificando o processo para pessoas e empresas em todo o mundo. Em resumo, a conversão de moedas desempenha um papel vital na economia global, facilitando a transição suave entre diferentes moedas e promovendo o comércio internacional.</p>
            </div>
        </div>
    </div>
</section>